$ta-font: #021526;
$ta-yellow: #ffb200;
$ta-yellow-light: #fcc360;
$ta-yellow-dark: #c98000;
$ta-light: #d9e9fa;
$ta-dark: #1d2021;
$ta-medium: #295F98;
$ta-transparent-medium: #295F9845;
$ta-danger: #df1b1b;
$ta-danger-dark: #870f0f;
$ta-danger-medium: #de5252;
$ta-danger-light: #fecaca;
$ta-success: #4bb543;
$ta-success-dark: #2b6927;
$ta-success-light: #6bb865;
$ta-dark-gray: #414141;
